
.listingContainer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 10px;

  }
  
  .listing-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    margin-top: 20px;
  }
  /* .listing-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  } */
  .listing-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .listing-type {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color:#0071C2;
    color:rgb(255, 255, 255);
    border-radius: 3px;
    padding: 5px;
  }
  
  .listing-location {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .listing-location svg {
    margin-right: 5px;
  }

  .listing-desc {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
  }
  .listing-info{
    color: #0071c2;
  }
  
  .listing-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
  }
  .feature {
    font-size: 14px;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    font-weight: bold;
  }
 


  