  .browseContainer {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    height:100vh;
    position:relative;
    overflow-y: auto;
      width: 100%;
}

.browseWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
}

.browseSearch {
    flex: 1;
    background-color: #f1f1f1;
    padding: 50px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    /* margin-right: 20px; */
    height: max-content;
}

.brtitle {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.brItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.brItem > input {
    border: 1px solid rgb(158, 154, 154);
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    height: 40px;
}

.brOptionItem {
    display: flex; 
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.brOptionInput {
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(158, 154, 154);
    /* width: 50%; */
}

.browseSearch > button {
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.browseSearch > button:hover {
    background-color: #003580;
}
.filterItem {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.filterItem input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.filterItem label {
    font-size: 16px;
}

